header {
	width: 100%;
	height: 115px;
	padding: 0 3%;
	background-color: black;
	position: fixed;
	border-bottom: 5px solid rgb(168, 168, 168);
	z-index: 99;
}

.fix-header {
	height: 115px;
}

.header-left{
	width: 40%;
	display: flex;
}

.header-left img {
	max-height: 100%;
}

.header-right{
	width: 60%;
	justify-content: right;
	display: flex;
	flex-direction: column-reverse;
}

@media (max-width: 1080px) {
	.header-right {
		flex-direction: row-reverse;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.header-left {
		width: 60%;
		align-items: center;
	}

	.header-right {
		width: 40%;
	}

	header,
	.fix-header {
		height: 80px;
	}

	.header-left img {
		max-width: 100%;
		max-height: 78px;
	}
}